html, body, p, button{
	padding: 0;
	margin: 0;
}
body.active{
	background-color: rgba(0,0,0,0.5);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
}

@font-face {
    font-family: bariol;
    src: url(media/font/Bariol_Regular.otf);
}

@font-face {
    font-family: futura;
    src: url(media/font/Futura-Bold.woff) format('woff');
}

.container{
	height: 600px;
	width: 900px;
    margin: auto;
    border-radius: 10px;
}
body{
	display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "futura", sans-serif;
}
.box-shadow{
	-webkit-box-shadow: 0px 0px 40px 0px rgba(224,224,224,0.5);
	-moz-box-shadow: 0px 0px 40px 0px rgba(224,224,224,0.5);
	box-shadow: 0px 0px 40px 0px rgba(224,224,224,0.5);
}
.cont-content{
    overflow-y: auto;
    position: relative;
	background: #eeeeee;
	height: calc(100% - 179px);
	width: calc(100% - 120px);
    padding: 60px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.cont-waiting{
	background: #eeeeee;
	height: 100%;
	width: 100%;
	position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.flex{
	display: flex;
}
/*######################################################*/
/* ###############         BUTTON        ###############*/
/*######################################################*/
button {
	cursor: pointer;
	border: 0;
}

button[type="submit"] {
    float: right;
    opacity: 0.6;
    pointer-events: none;
}
.btn {
	width: 236px;
	height: 77px;
	font-family: "futura", sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	text-align: left;
	display: flex;
    padding-left: 20px;
    border-radius: 10px;
    background-color: #eeeeee;
    color: black;
    box-shadow: -9px -9px 12px 0 rgb(255, 255, 255),
                9px 9px 12px 0 rgba(0,0,0,.03);
}
.btn span,
.btn p {
    z-index: 1;
}
.btn .icon{
	line-height: 38px;
    margin-right: 20px;
}
.btn span:last-child{
	font-size: 15px;
	font-family: "futura", sans-serif;
	text-transform: none;
}
.btn i{
	position: absolute;
    transform: rotate(10deg);
    font-size: 130px;
    left: -19%;
    top: -34%;
    /* opacity: 0.1; */
    transition-duration: 0.3s;
}
.btn-blue i{
	color: #30d6ff;
}
.btn-violet i{
	color: #a555e9;
}
.btn-orange i{
	color: #e5873b;
}
.btn-green i{
	color: #53d0ff;
}
.btn-grey i{
	color: #a0a0a0;
}
.btn:hover i{
	transform: rotate(0deg);
	font-size: 150px;
}
/*######################################################*/
/* ###############        TOP BAR        ###############*/
/*######################################################*/
.topbar{
    /* background: linear-gradient(to right, #c8db2b , #268f3a); */
    background-color: #eeeeee;
    height: 59px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.parale-1{
	width: 460px;
    height: 120px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.2;
}

.cont-p-1{
	transform: rotate(-11deg);
    position: absolute;
    left: -281px;
    top: -23px;
}
.parale-2{
	width: 430px;
    height: 120px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.2;
}
.cont-p-2{
	transform: rotate(-10deg);
    position: absolute;
    left: 176px;
    top: -80px;
}
.parale-3{
	width: 200px;
    height: 60px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.2;
}
.cont-p-3{
	transform: rotate(-10deg);
    position: absolute;
    left: 720px;
    top: 25px;
}
nav{
	width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1;
}
.btn-sign-out{
	color: black;
	background: rgba(0,0,0,0);
	font-size: 20px;
	font-family: "futura", sans-serif;
}
.btn-sign-out i{
	font-size: 15px;
    margin-left: 20px;
    transition-duration: 0.3s;
}
.btn-sign-out:hover i{
	margin-left: 10px;
}
.logo-topbar{
	height: 50px;
    width: 205px;
    background-image: url(media/img/logo-top.png);
    background-repeat: no-repeat;
    margin-top: 15px;
}
/*######################################################*/
/* ###############       MAIN MENU       ###############*/
/*######################################################*/
.balance{
	width: 403px;
    height: 183px;
    background: #eeeeee;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 40px;
    color: #414141;
    font-size: 16px;
    background-image: url(media/img/curve.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 10px;
    box-shadow: -9px -9px 12px 0 rgb(255, 255, 255),
                9px 9px 12px 0 rgba(0,0,0,.03);
}
.balance .name{
	font-size: 25px;
	color: #53d0ff;
	margin-bottom: 5px;
    display: block;
}
.balance .money{
	font-size: 60px;
	color: #53d0ff;
	font-family: "futura", sans-serif;
}

.balance .money::before {
    content: "$";
}

.balance .money .dollars{
	color: #e1e0e0;
}
.list-btn{
	height: 263px;
	width: 236px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.pub{
	width: 360px;
	height: 98px;
	background: white;
	position: relative;
}
.confiance{
	margin-right: 60px;
	display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: -9px -9px 12px 0 rgb(255, 255, 255),
                9px 9px 12px 0 rgba(0,0,0,.03);
}
.confiance p{
	width: 235px;
	color: #7e7e7e;
	font-size: 16px;
	margin: 25px 0 0 20px;
}
.confiance p span{
	text-transform: uppercase;
	font-size: 16px;
	color: #181818;
	font-family: "futura",sans-serif;
}
.circle-confiance{
	width: 75px;
	height: 75px;
	background-image: url(media/img/circle.png);
	margin: 11px;
}

.social {
    background: transparent;
}

.social button {
    width: 100%;
    height: 100%;
}

.graph{
	width: 275px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-top: 15px;
	margin-left: 16px;
}

/*######################################################*/
/* #################     BUY MENU      ################ */
/*######################################################*/

table {
    width: 50%;
    float: left;
    margin-right: 15px;
    border-collapse: collapse;
    max-height: 100%;
}

table#all {
    width: 100%;
}

thead {
    width: 50px;
    background-color: #181818;
}

thead tr {
    height: 50px;
    color: white;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 15px;
}

thead tr:first-child th:last-child {
    border-top-right-radius: 15px;
}

tbody {
    width: 100%;
    background-color: white;
}

tbody tr {
    height: 50px;
}

tbody .active {
    background-color: gray !important;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

.fa-circle {
    color: orange;
}

table#all tbody tr th:nth-child(2)::after,
table#companies tbody tr th:nth-child(2)::after,
table#sell tbody tr th:nth-child(3)::after {
    content: "%";
    color: #53d0ff;
}

tbody tr:last-child th:first-child {
    border-bottom-left-radius: 15px;
}

tbody tr:last-child th:last-child {
    border-bottom-right-radius: 15px;
}

/*######################################################*/
/* ###############     WITHDRAW MENU      ############# */
/*######################################################*/

.banniere{
	width: 464px;
	margin-right: 60px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
form{
    width: 350px;
    float: right;
}
label{
	margin-bottom: 10px;
	font-size: 17px;
	color: #414141;
	font-family: "futura", sans-serif;
}
.input-cont{
	width: 90%;
    height: 87px;
    background: #eeeeee !important;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 60px;
    border-radius: 15px;
    box-shadow: -9px -9px 12px 0 rgb(255, 255, 255),
                9px 9px 12px 0 rgba(0,0,0,.03);
}
.input-cont input{
	width: 100%;
    height: 50px;
    text-align: center;
    background-color: #eeeeee;
    border: 0;
    font-size: 50px;
    color: #53d0ff;
    font-family: "futura",sans-serif;
}
.input-cont input::-webkit-input-placeholder {
  color: #53d0ff;
}
.double-input{
	display: flex;
	justify-content: space-between;
}
.double-input .input-cont{
	width: 300px;
}
.double-input input{
	font-size: 35px;
}
/*######################################################*/
/* ###############        WAITING        ###############*/
/*######################################################*/
.bg-waiting{
	width: 1000px;
    height: 450px;
    background: linear-gradient(to right, #d8ed2e, #268f3a);
    position: relative;
    transform: rotate(-8deg);
    top: -70px;
    left: -70px;
}
.mainlogo{
	margin:auto;
	width: 100px;
    height: 95px;
	background-image: url(media/img/logo-big.png);
	background-repeat: no-repeat;
}
.content-waiting p{
	margin-top: 70px;
}
.content-waiting{
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	position: absolute;
	left: 50%;
	text-align: center;
	margin-left: -255px;
	font-size: 30px;
	color: rgb(104, 104, 104);
}
.content-waiting span{
	color: #414141;
}

.content-waiting .box {
	margin-top: 70px;
    background-color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: -9px -9px 12px 0 rgb(255, 255, 255),
                9px 9px 12px 0 rgba(0,0,0,.03);
}

#fingerprint-content{
	position: relative;
	margin:auto;
	margin-top: 67px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border:4px solid #f3f3f3;
	cursor: pointer;
	overflow: hidden;
	transition-duration: 0.2s;
}
#fingerprint-content:hover{
    border: 2px solid #53d0ff;
}
.fingerprint-default{
	position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(media/img/fingerprint.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.66;
    transition-duration: 0.6s;
}

.fingerprint-default:hover {
    opacity: 1;
}

.fingerprint-active{
	position: absolute;
    width: 120px;
    height: 0px;
    background-image: url(media/img/fingerprint.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    transition-duration: 1.2s;
    bottom: 0;
}
.fingerprint-active.active{
    height: 120px;
}
.fingerprint-bar{
	width: 126px;
    height: 3px;
    border-radius: 3px;
    background-color: #a5a5a5;
    position: absolute;
    bottom: -3px;
    transition-duration: 1.2s;
}
.fingerprint-bar.active{
    bottom: 123px;
}
.parale-4{
	width: 627px;
    height: 150px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}
.cont-p-4{
	transform: rotate(-1deg);
    position: absolute;
    left: -35px;
    top: -25px;
}
.parale-5{
	width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}
.cont-p-5{
	transform: rotate(-1deg);
    position: absolute;
    left: 830px;
    top: 98px;
}
.parale-6{
	width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}
.cont-p-6{
	transform: rotate(-1deg);
    position: absolute;
    left: -28px;
    top: 366px;
}
.parale-7{
	width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}
.cont-p-7{
	transform: rotate(-1deg);
    position: absolute;
    left: 272px;
    top: 416px;
}
#result{
    position: absolute;
    top: 20px;
    width: 820px;
    padding: 25px 40px;
    font-size: 16px;
    color: white;
}

.alert-green{
	background: #7cb732;
}

.alert-orange{
	background: #e5873b;
}
